<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
          	<add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="\\gishared\WebApplications\XMLValidator\Env_ServerXmlValidator\Scripts\python.exe|\\gishared\WebApplications\XMLValidator\Env_ServerXmlValidator\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />       
	   </handlers>
    </system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
		<add key="PYTHONPATH" value="\\gishared\WebApplications\XMLValidator" />
		<add key="DJANGO_SETTINGS_MODULE" value="prod.settings" />
		<!-- Optional settings -->
	</appSettings>
</configuration>
